@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

:root {
  /* Home page "carousel" area height*/
  --carousel-height: 400px;

  /* Content Margin from left and right */
  --content-margin: 20vw;

  /* Server Header Background Image Height */
  --server-img-height: 600px;
  /* Colors */
  --col-1: #5F70B9;
  --bg-col-1: rgba(35,36,41,0.65);
  --bg-col-2: #3b3c45;
  --col-3: #2f3037;
  --footer-col: #17181c;

  /* Global Border Radius */
  /* For nested rounded corners reduce by 2 ie. next would be 5px; */
  --border-radius: 7px;
  --border-radius2: 5px;

  /* Default Margins */
  --default-margin: 20px;
}


* {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.2vh !important;
}

.chat-window {
  background: var(--bg-col-1) !important;
  border-radius: 7px !important;

  width: 32vw !important;

  position: absolute;
  top: 4vh;
  left: 1vw;

    /* --size: calc(((2.7vh * 1.2)) * 6);

    position: absolute;
    right: calc(2.77vh);
    top: calc(50% - (var(--size) / 2));
    height: var(--size) !important;

    background: inherit !important;

    text-align: right;

    left: auto;

    user-select: none; */
}

.msg {
    /* font-family: Font2, sans-serif;
    color: #fff; */

    /*font-size: calc(1.8vh);  13px in 720p, calc'd by width */
    /* filter: url(#svgDropShadowFilter);

    line-height: calc(2.7vh * 1.2);

    margin-bottom: 0; */
}

.chat-messages {
    /* margin: 0;
    height: 100%; */
}

.msg > span > span > b {
    /* font-family: Font2_cond, sans-serif;
    font-weight: normal;

    vertical-align: baseline;
    padding-right: 11px;

    line-height: 1;

    font-size: calc(2.7vh); */
}

.msg > span > span > span {
    /* vertical-align: baseline; */
}

.msg i:first-of-type {
    /* font-style: normal;
    color: #c0c0c0; */
}

.chat-input {

  position: absolute;
  top: 26.5vh;
  left: 1vw;
  width: 32vw !important;
    /* position: absolute;
    right: calc(2.77vh);
    bottom: calc(2.77vh);

    background: inherit !important;

    text-align: right;

    top: auto;
    left: auto;

    height: auto;

    font-family: Font2, sans-serif; */
}

.chat-input > div {
  background: var(--bg-col-1) !important;
  border-radius: 7px !important;
    /* background-color: rgba(0, 0, 0, .6) !important;
    border: calc(0.28vh / 2) solid rgba(180, 180, 180, .6); */
   /*  outline: calc(0.28vh / 2) solid rgba(0, 0, 0, .8); to replace margin-background */
    /* padding: calc(0.28vh / 2); */
}

.chat-input .prefix {
  opacity: 0%;
    /* margin: 0;
    margin-left: 0.7%;
    margin-top: -0.1%;
    line-height: 2.8vh; */
}

.chat-input .prefix.any {
    /* opacity: 0.8; */
}

.chat-input .prefix.any:before {
    /* content: '['; */
}

.chat-input .prefix.any:after {
    /* content: ']'; */
}

.chat-input > div + div {
    /* position: absolute;
    bottom: calc(1.65vh + 0.28vh + 0.28vh + 0.28vh + (0.28vh / 2));
    width: 99.6%;

    text-align: left; */
}

.suggestions {
  /* opacity: 60% !important; */
  margin-top: 5px;
  /* background: var(--bg-col-1) !important; */
  border-radius: 7px !important;
  border: calc(0.28vh / 2) solid var(--col-1);
    /* border: calc(0.28vh / 2) solid rgba(180, 180, 180, .6);
    background: transparent; */
}

textarea {
    /* background: transparent;
    padding: 0.5vh; */
}
